html, body {
  
  font-family: 'Montserrat', sans-serif;
  background-image:url(https://th.bing.com/th/id/OIP.byISLVxS4Mt1KieFQuyAEgHaEK?pid=ImgDet&rs=1);
  background-size:cover;
  background-attachment:fixed;
  
}

