

.headingh1 {
	margin:0;
	font-size:50px;
	background-image:url(https://Advaithva.github.io/trial/blue-shapes-design.png);
	background-size:cover;
	padding:50px 0;
	background-position:center;
	background-blend-mode: lighten;
	background-color: rgba(50,108,225,0.62);
	color:#5837ff;
}


header h1 {
	color:#0051b7;
	letter-spacing:5px;
	
}

/* https://th.bing.com/th/id/R.3bbebdb38aa03285ddbe67732915f8b5?rik=T4SFQQSmXXxEZQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f65thfiw.png&ehk=up0SyQ4BPH6msVBIUjCFPyQ8stUbael%2fN0AgCAL92lM%3d&risl=&pid=ImgRaw&r=0 */

body {

	margin:0;
	font-family:Montserrat;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    position: center;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    background-blend-mode:lighten;
    background-color: rgba(11,10, 15, 0.7);
    position:fixed;
    top:0;
    left:0;

}







nav li {
	float:left;	
	padding:0.2cm 0.5cm;
	display: inline-block;
	text-align: center;
	color:#fff;
	text-decoration:none;
}


nav li:hover {
	border-bottom:#99bbff solid 1px;
	color:#99bbff;
}





.lastliofnav {

	float:right;
	position:fixed;
	right:3cm;
	background-color:#555;
	background-bend-mode:lighten;
	background-color:rgba(12, 12, 12, 0.6);
	display:inline-block;
	width:300px;


}






.lastliofnav li {

	display:inline-block;
	width:240px;
	border:1px solid black;
	

}



.intro {
	font-family: montserrat, sans-serif;

font-weight: 500;

font-style: normal;
	
}


.introh2 {
	color:#005cb8;
	animation-name:intro_h2;
	animation-duration:3s;
  	animation-iteration-count: infinite;
}





.introh3 {
	
	color:#0000aa;
	animation-name:intro_h3;
	animation-duration:3s;
  	animation-iteration-count: infinite;
	
}


.intro h4 {
	color:#000;
	animation-name:intro_h4;
	animation-duration:3s;
  	animation-iteration-count: infinite;
	
}




@keyframes intro_h2 {
  0%  {color:black;}
  33%  {color:#aaaaff;}
  66%  {color:#0000aa;}
  100%   {color:#005cb8;}
  


}




@keyframes intro_h3 {
  0%  {color:black;}
  33%  {color:#aaaaff;}
  66%  {color:#0000aa;}
  100%   {color:#005cb8;}
  


}




@keyframes intro_h4 {
  0%  {color:black;}
  33%  {color:#aaaaff;}
  66%  {color:#0000aa;}
  100%   {color:#005cb8;}
  


}

.resume span {
	background-color:#005cbf;
	color:#fff;
	font-size:18px;
	height:1.5cm;
	width:4cm;
	padding:20px;
	box-shadow: 6px 6px 0 0 #000010;
	border-radius:15px;
	
}


.resume span:hover {
	background-color:#0045ad;
	
	
}



.resume span:active {
	box-shadow:none;
	position:relative;
	top:6px;
	left:6px;
	
}

.resume {
	
	font-size:24px;
	padding:1cm 3cm;
	background-image:url(https://Advaithva.github.io/trial/blue-shapes.png);
	background-size:cover;
	background-position:center;
	background-blend-mode: lighten;
	background-color: rgba(50,108,225,0.62);
}



.webpages, .photos, .cubecoll {
	padding:0 0.6cm;
	font-size:24px;
}


.webpages img {
   height:5cm;
   width:7.7cm;
   outline:black solid 1px;
   margin-bottom:40px;
   border-radius:10px;
	
}


.weba {
   padding:20px;
   height:11cm;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/image/image.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;
   background-size:cover;
   text-decoration:none;
   border-radius:10px;

}

.webpages {
   color:#000;
}

.webpages p {
   padding:0, 10px;
  animation-name: example;
  animation-duration:3s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color:red;}
  10%  {color:orange;}
  20%  {color:yellow;}
  30%  {color:green;}
  40% {color:cyan;}
  50%   {color:lightblue;}
  60%  {color:blue;}
  70%  {color:purple;}
  80%  {color:pink;}
  90% {color:white;}
  100% {color:black;}

}


.weba:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}

svg:hover {
	height:20px;
	width:20px;
}


.slide {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100vh;
overflow-x: hidden;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.slide1 {
background-image: url(
"https://advaithva.github.io/trial/images/photos/cat.png");
}
.slide2 {
background-image: url(
"https://media.geeksforgeeks.org/wp-content/uploads/20210812221254/pic2.png");
}
.slide3 {
background-image: url(
"https://media.geeksforgeeks.org/wp-content/uploads/20210812221322/pic3.png");
}
.arrow {
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -35px;
width: 0;
height: 0;
border-style: solid;
}
#arrow-left {
border-width: 20px 30px 20px 0;
border-color: transparent #fff transparent transparent;
left: 0;
margin-left: 20px;
}

#arrow-right {
border-width: 20px 0 20px 30px;
border-color: transparent transparent transparent #fff;
right: 0;
margin-right: 20px;
}



